# ExifTool config: custom XMP namespace for inferred GPS provenance
%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    photogeo => { SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::photogeo' } },
  },
);
%Image::ExifTool::UserDefined::photogeo = (
  GROUPS => { 0 => 'XMP', 1 => 'XMP-photogeo', 2 => 'Location' },
  NAMESPACE => { 'photogeo' => 'http://technicity.land/ns/photogeo/1.0/' },
  WRITABLE => 'string',
  GPSInferred      => { Writable => 'boolean' },
  InferenceMethod  => { },
  Confidence       => { },
  AnchorBefore     => { },
  AnchorAfter      => { },
  Note             => { },
  InferredAt       => { },
);
1;
